@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
  background-color: #242424;
  color: white;
}

/*

GENERICS

*/

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: rgb(99, 150, 218);
}

button {
  text-decoration: none;
  border: none;
}

body {
  max-width: 100vw;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

select {
  cursor: pointer;
}

h1 {
  font-size: 24px;
  font-family: "Special Elite", cursive;
}

.transition {
  transition: all 360ms ease-in-out;
}

/* 

Navigationalitisizeracecars

*/

#nav__bar {
  display: flex;
  width: 100%;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 40px;
  border-bottom: 4px solid white;
  border-radius: 30%;
}

.nav__logo--anchor {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav__logo {
  max-width: 140px;
  transform: scale(0.8);
  border-radius: 50%;
}

.post__back--text {
  font-size: 24px;
  font-weight: 700;
  color: rgb(99, 150, 218);
}

.post__back--text:hover .arrow__hover--effect {
  transform: scale(1.5);
}

/*

DESCRIPTIONISMS

*/

#description {
  padding: 36px 24px;
}

.container {
  margin: 36px 0;
}

.post__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.post__title--details {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.post__title,
.post__episodes,
.post__score {
  padding-bottom: 32px;
  margin-left: 24px;
}

.post__title {
  font-size: 56px;
}

.post__episodes,
.post__score {
  font-size: 32px;
  font-weight: 600;
}

.post__synopsis {
  font-size: 24px;
  font-weight: 400;
  padding: 0 128px;
  text-align: justify;
}

/*

RESPONSIVILINESS

*/

@media (max-width: 1200px) {

}

@media (max-width: 930px) {
}

@media (max-width: 730px) {
}

@media (max-width: 640px) {
}